In [1]:
my_list=[9,8,6,3,5,4,7]
print(my_list.index(5))

4

In [6]:
print(my_list.count(5))

1

In [7]:
my_list.sort()
print(my_list)

[3, 4, 5, 6, 7, 8, 9]

In [8]:
my_list.reverse()
print(my_list)

[9, 8, 7, 6, 5, 4, 3]

In [11]:
my_list[2:].index(5)
#starts from 2nd index

2

# list comprehension

In [12]:
m=range(0,20,3)
m

range(0, 20, 3)

In [13]:
my_list=list(m)
my_list

[0, 3, 6, 9, 12, 15, 18]

In [14]:
tp=[x for x in range(0,5)]
tp

[0, 1, 2, 3, 4]

In [15]:
op=[x**2+x+1 for x in range(0,7)]
op

[1, 3, 7, 13, 21, 31, 43]

In [16]:
pow1=[2**x for x in range(10) if x>5]
print(pow1)

[64, 128, 256, 512]

In [17]:
odd=[x for x in range(20) if x%2==1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
#combos
combos=[x+y+z for x in ["python ","c "] for y in["language ","programming "] for z in["groupA ","groupB ","group c"]]
print(combos)
print(len(combos))

['python language groupA ', 'python language groupB ', 'python language group c', 'python programming groupA ', 'python programming groupB ', 'python programming group c', 'c language groupA ', 'c language groupB ', 'c language group c', 'c programming groupA ', 'c programming groupB ', 'c programming group c']
12

In [21]:
for fruit in["apple","orange","mango"]:
    print("i like",fruit)

i like apple
i like orange
i like mango

In [22]:
fruits=["apple","banana","orange",False]
logix=[True,False,"mango"]
logix2=[]

In [23]:
any(logix)

True

In [24]:
any(logix2)

False

In [25]:
all(logix2)

True

# TUPLES

In [27]:
my_tuple= (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [28]:
my_tuple=("mouse",[8,5,7],(1,6,9))
print(my_tuple)

('mouse', [8, 5, 7], (1, 6, 9))

In [29]:
print(my_tuple[1][2])
#tuple is immutable but items inside it are mutable if they are in mutable condition

7

In [30]:
my_tuple=3,5.4,"cat"
print(my_tuple)

(3, 5.4, 'cat')

In [31]:
a,b,c=my_tuple
print(a)
print(b)
print(c)

3
5.4
cat

In [32]:
tups=(5,)
print(tups)
print(type(tups))

(5,)
<class 'tuple'>

In [33]:
tup=[5]
print(tup)
print(type(tup))

[5]
<class 'list'>

In [34]:
my_tuple1=("hello")
print(type(my_tuple1))

<class 'str'>

In [36]:
my_tuple1=("hello",)
print(my_tuple1)
print(type(my_tuple1))

('hello',)
<class 'tuple'>

In [37]:
n_tuple=("mouse",[1,2,3],(4,5,6))
print(n_tuple[0][3])

s

In [1]:
my_tuple="brilliant"
print(my_tuple[1:4])
print(my_tuple[:-7])
print(my_tuple[7:])
print(my_tuple[::-1])
print(my_tuple[::-3])

ril
br
nt
tnaillirb
tii

In [2]:
a=[1,2,3,4]; b=(4,5,6); print(id(b))
b.append(7)
print(b)

1043034778984

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
word1=("apple")
t1=tuple(word1)
print(t1)

('a', 'p', 'p', 'l', 'e')

In [61]:
my_set={1,2,3}
print(my_set)
x=(1,2,3)
my_set={1.0,"Hello",1.9,(1,2,3),x}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 1.9, 'Hello'}

In [62]:
a={}
print(type(a))

<class 'dict'>

In [63]:
a=set()
print(type(a))

<class 'set'>

In [67]:
my_set={1,2}
print(my_set)
my_set.add(3)
print(my_set)
my_set.update([2,3,4])
my_set

{1, 2}
{1, 2, 3}

{1, 2, 3, 4}

In [71]:
my_set.update([2,3,4],{4,5,6},(5,6,7))
my_set

{1, 2, 3, 4, 5, 6, 7}

In [72]:
my_set={1,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [73]:
my_set.discard(6)
my_set
#if item is not available then nothing happens

{1, 2, 3, 4, 5, 7}

In [74]:
my_set.remove(4)
my_set
#if the item is not available it will show error

{1, 2, 3, 5, 7}

In [75]:
my_set=set("HelloWorld")
my_set

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [76]:
print(my_set.pop())
my_set

e

{'H', 'W', 'd', 'l', 'o', 'r'}

In [77]:
my_set.clear()
my_set

set()

# set operations

union is performed using | operaor.

intersection is performed using & operator

same can be acomplished using method union

In [81]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
a.union(b)
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
b.intersection(a)

{4, 5}

In [84]:
a.difference(b)

{1, 2, 3}

In [85]:
b.difference(a)

{6, 7, 8}

symmetric difference is performed using ^ operator.

same can be acomplished using the method symmetric_difference().

In [86]:
a^b

{1, 2, 3, 6, 7, 8}

In [88]:
my_set=set("apple")
my_set

{'a', 'e', 'l', 'p'}

In [89]:
for letter in set("apple"):
    print(letter)

e
p
a
l

In [97]:
a=frozenset([1,2,3,4])
b=frozenset([3,4,5,6])

print(a.isdisjoint(b))
a.difference(b)
print(a|b)

False
frozenset({1, 2, 3, 4, 5, 6})