In [1]:
import csv
import os

In [3]:
os.chdir("E:\\afitech\\Afitech PPML Datasets")
os.getcwd()

'E:\\afitech\\Afitech PPML Datasets'

In [4]:
filename= "mtcars.csv"

In [6]:
fields=[]
rows=[]

fields2= []

In [7]:
with open(filename,'r') as csvfile:
    csvreader=csv.reader(csvfile)
    fields=next(csvreader)
    for item in csvreader:
        rows.append(item)

In [9]:
print(fields)

['', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

In [10]:
print(rows)

[['Mazda RX4', '21', '6', '160', '110', '3.9', '2.62', '16.46', '0', '1', '4', '4'], ['Mazda RX4 Wag', '21', '6', '160', '110', '3.9', '2.875', '17.02', '0', '1', '4', '4'], ['Datsun 710', '22.8', '4', '108', '93', '3.85', '2.32', '18.61', '1', '1', '4', '1'], ['Hornet 4 Drive', '21.4', '6', '258', '110', '3.08', '3.215', '19.44', '1', '0', '3', '1'], ['Hornet Sportabout', '18.7', '8', '360', '175', '3.15', '3.44', '17.02', '0', '0', '3', '2'], ['Valiant', '18.1', '6', '225', '105', '2.76', '3.46', '20.22', '1', '0', '3', '1'], ['Duster 360', '14.3', '8', '360', '245', '3.21', '3.57', '15.84', '0', '0', '3', '4'], ['Merc 240D', '24.4', '4', '146.7', '62', '3.69', '3.19', '20', '1', '0', '4', '2'], ['Merc 230', '22.8', '4', '140.8', '95', '3.92', '3.15', '22.9', '1', '0', '4', '2'], ['Merc 280', '19.2', '6', '167.6', '123', '3.92', '3.44', '18.3', '1', '0', '4', '4'], ['Merc 280C', '17.8', '6', '167.6', '123', '3.92', '3.44', '18.9', '1', '0', '4', '4'], ['Merc 450SE', '16.4', '8', '275.8', '180', '3.07', '4.07', '17.4', '0', '0', '3', '3'], ['Merc 450SL', '17.3', '8', '275.8', '180', '3.07', '3.73', '17.6', '0', '0', '3', '3'], ['Merc 450SLC', '15.2', '8', '275.8', '180', '3.07', '3.78', '18', '0', '0', '3', '3'], ['Cadillac Fleetwood', '10.4', '8', '472', '205', '2.93', '5.25', '17.98', '0', '0', '3', '4'], ['Lincoln Continental', '10.4', '8', '460', '215', '3', '5.424', '17.82', '0', '0', '3', '4'], ['Chrysler Imperial', '14.7', '8', '440', '230', '3.23', '5.345', '17.42', '0', '0', '3', '4'], ['Fiat 128', '32.4', '4', '78.7', '66', '4.08', '2.2', '19.47', '1', '1', '4', '1'], ['Honda Civic', '30.4', '4', '75.7', '52', '4.93', '1.615', '18.52', '1', '1', '4', '2'], ['Toyota Corolla', '33.9', '4', '71.1', '65', '4.22', '1.835', '19.9', '1', '1', '4', '1'], ['Toyota Corona', '21.5', '4', '120.1', '97', '3.7', '2.465', '20.01', '1', '0', '3', '1'], ['Dodge Challenger', '15.5', '8', '318', '150', '2.76', '3.52', '16.87', '0', '0', '3', '2'], ['AMC Javelin', '15.2', '8', '304', '150', '3.15', '3.435', '17.3', '0', '0', '3', '2'], ['Camaro Z28', '13.3', '8', '350', '245', '3.73', '3.84', '15.41', '0', '0', '3', '4'], ['Pontiac Firebird', '19.2', '8', '400', '175', '3.08', '3.845', '17.05', '0', '0', '3', '2'], ['Fiat X1-9', '27.3', '4', '79', '66', '4.08', '1.935', '18.9', '1', '1', '4', '1'], ['Porsche 914-2', '26', '4', '120.3', '91', '4.43', '2.14', '16.7', '0', '1', '5', '2'], ['Lotus Europa', '30.4', '4', '95.1', '113', '3.77', '1.513', '16.9', '1', '1', '5', '2'], ['Ford Pantera L', '15.8', '8', '351', '264', '4.22', '3.17', '14.5', '0', '1', '5', '4'], ['Ferrari Dino', '19.7', '6', '145', '175', '3.62', '2.77', '15.5', '0', '1', '5', '6'], ['Maserati Bora', '15', '8', '301', '335', '3.54', '3.57', '14.6', '0', '1', '5', '8'], ['Volvo 142E', '21.4', '4', '121', '109', '4.11', '2.78', '18.6', '1', '1', '4', '2']]

In [12]:
rows[8][6]

'3.15'

In [14]:
print("Total no of rows:{}".format(csvreader.line_num))

Total no of rows:33

In [17]:
print('Field name are:' + ', '.join(field for field in fields))

Field name are:, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb

In [23]:
print('\nFirst 5 rows are:\n')
for row in rows[0:5]:
    print(row)
    for col in row:
        print("%20s"%col);
    print('\n')

First 5 rows are:

['Mazda RX4', '21', '6', '160', '110', '3.9', '2.62', '16.46', '0', '1', '4', '4']
           Mazda RX4
                  21
                   6
                 160
                 110
                 3.9
                2.62
               16.46
                   0
                   1
                   4
                   4


['Mazda RX4 Wag', '21', '6', '160', '110', '3.9', '2.875', '17.02', '0', '1', '4', '4']
       Mazda RX4 Wag
                  21
                   6
                 160
                 110
                 3.9
               2.875
               17.02
                   0
                   1
                   4
                   4


['Datsun 710', '22.8', '4', '108', '93', '3.85', '2.32', '18.61', '1', '1', '4', '1']
          Datsun 710
                22.8
                   4
                 108
                  93
                3.85
                2.32
               18.61
                   1
                   1
                   4
                   1


['Hornet 4 Drive', '21.4', '6', '258', '110', '3.08', '3.215', '19.44', '1', '0', '3', '1']
      Hornet 4 Drive
                21.4
                   6
                 258
                 110
                3.08
               3.215
               19.44
                   1
                   0
                   3
                   1


['Hornet Sportabout', '18.7', '8', '360', '175', '3.15', '3.44', '17.02', '0', '0', '3', '2']
   Hornet Sportabout
                18.7
                   8
                 360
                 175
                3.15
                3.44
               17.02
                   0
                   0
                   3
                   2

# Writing CSV file

In [24]:
import csv
import os

In [25]:
os.chdir('E:\\ABCD')

In [26]:
fields=['Name','Branch','Year','CGPA']

In [28]:
rows=[['Nikhil','MECH','2','9.3'],
     ['Sanchit','ETC','2','9.1'],
     ['Sagar','IT','2','9.2'],
     ['Sahil','CIVIL','1','9.0']]

In [29]:
filename= "university_record100.csv"

In [32]:
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)

In [1]:
import csv
import os

In [2]:
os.chdir('E:\\ABCD')

In [4]:
mydict=[{'branch':'EE','cgpa':'9.0','Name':'Nikhil','Year':'2'},
       {'branch':'ETC','cgpa':'9.1','Name':'Aditya','Year':'3'},
       {'branch':'CSE','cgpa':'8.9','Name':'Sanchit','Year':'1.5'},
       {'branch':'IT','cgpa':'8.7','Name':'Pratik','Year':'1'},
       {'branch':'MECH','cgpa':'9.2','Name':'Sagar','Year':'2.5'},
       {'branch':'CIVIL','cgpa':'8.8','Name':'Akhil','Year':'0.5'}]

In [8]:
fields=['Name','branch','cgpa','Year']
filename='University_records200a.csv'
with open(filename,'w') as csvfile:
    writer=csv.DictWriter(csvfile,fieldnames=fields)
    writer.writeheader()
    writer.writerows(mydict)